@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    <strong>Support</strong>
    <br/>
    Phone: <a href="tel:+12243049365">(224) 304-9365</a>
    <br/>
    Email: <a href="mailto:mayrmilan@gmail.com">mayrmilan@gmail.com</a>
</address>